
@media screen and (min-width: 1301px){
 header{
    display: flex;
     justify-content: space-between;
     height: 100px;
}
.MenuInicial{
    display: flex;
    justify-content: center;
     gap: 100px;

}
}
@media  screen and (min-width: 501px) and (max-width: 1300px) {
p{
    color: red;
}
    
}
@media screen and (min-width: 350px) and (max-width: 500px){
p{
    color: yellow;
}   
}