
@media screen and (min-width: 1301px){
 header{;
 }
p{
    color: aqua;
}
}
@media  screen and (min-width: 501px) and (max-width: 1300px) {
p{
    color: red;
}
    
}
@media screen and (min-width: 350px) and (max-width: 500px){
p{
    color: yellow;
}   
}