   :root {
        --color-fondo: #121212;
        --color-texto: #f0f0f0;
        --color-acento: #ff4081;
        --color-nav: #1e1e1e;
        --color-borde: #333;
        --color-header: #121212;
    }

body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #1e1e1e;
  text-align: center;
  padding: 15px;
}
footer{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}



form.formulario {
  max-width: 400px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #2c2c2c;
  padding: 20px;
  border-radius: 10px;
}

form.formulario label {
  font-weight: bold;
}

form.formulario input {
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background: #121212;
  color: #f0f0f0;
}

form.formulario button {
  background-color: #ff4081;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

form.formulario button:hover {
  background-color: #e73370;
}

.otherOption{
    display: flex;
    justify-content: center;
}
 ::selection {
        background-color: var(--color-texto);
        color: var(--color-acento);
    }
        a {
        color: var(--color-acento);
    }

