



@media screen and (min-width: 1301px) {
    :root {
        --color-fondo: #121212;
        --color-texto: #f0f0f0;
        --color-acento: #ff4081;
        --color-nav: #1e1e1e;
        --color-borde: #333;
        --color--header: #121212;
    }
    a{
        color: var(--color-acento);
    }

    body {
        background-image: url(../../Imagenes/IndexImages/79410.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        border: 0px;
        padding: 0px;
        margin: 0px;
    }

    header {
        background-color: var(--color--header);
        display: flex;
        justify-content: space-between;
        height: 100px;
    }

    nav {
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: var(--color-nav);
                display: flex;
        justify-content: center;
        gap: 100px;
    }

    main{
        width: 1100px;
        height: 2000px;
        color: var(--color-texto);
        background-color: var(--color-fondo);
        margin: 0 auto;

    }
}

/* por ahora centrate en el pc*/
@media screen and (min-width: 501px) and (max-width: 1300px) {
    p {
        color: red;
    }

}

@media screen and (min-width: 350px) and (max-width: 500px) {
    p {
        color: yellow;
    }
}


@font-face {
    font-family: AmazDoom ;
    src: url(../../Fuentecillas/amazdoom/AmazDooMLeft.ttf);
}

@font-face {
    font-family: AncientRunes ;
    src: url(../../Fuentecillas/ancient_runes/Ancient\ Runes_1_1.ttf);
}

@font-face {
    font-family: DoomzDay ;
    src: url(../../Fuentecillas/doomzday/doOmzday.ttf);
}

@font-face {
    font-family: NordicRune ;
    src: url(../../Fuentecillas/rune/rune.ttf);
}

@font-face {
    font-family: SoleSurvivor ;
    src: url(../../Fuentecillas/sole_survivor/SoleSurvivor.ttf);
}

@font-face {
    font-family: SoleSurvivorRegular ;
    src: url(../../Fuentecillas/sole_survivor/SoleSurvivorRegular.ttf);
}